
#stacks_in_7 {
	font-size: 300%;
}
#stacks_in_9>.s3_row {
	margin: 0 -10px;
}

#stacks_in_9>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_9>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_9>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_9>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_9>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  

#stacks_in_9 {
	margin:  20px;
}

#stacks_in_33 {
	font-size: 150%;
	font-weight: bold;
}

#stacks_in_276 {
	font-size: 150%;
	font-weight: bold;
}
#stacks_in_256>.s3_row {
	margin: 0 -10px;
}

#stacks_in_256>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_256>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_256>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_256>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_256>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  

#stacks_in_256 {
	margin:  20px;
}

#stacks_in_259 {
	font-size: 150%;
	font-weight: bold;
}

#stacks_in_49 {
	font-size: 150%;
	font-weight: bold;
}
#stacks_in_375>.s3_row {
	margin: 0 -10px;
}

#stacks_in_375>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_375>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_375>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_375>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_375>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  

#stacks_in_375 {
	margin:  20px;
}

#stacks_in_386 {
	font-size: 150%;
	font-weight: bold;
}

#stacks_in_378 {
	font-size: 150%;
	font-weight: bold;
}
#stacks_in_392>.s3_row {
	margin: 0 -10px;
}

#stacks_in_392>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_392>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_392>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_392>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_392>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  

#stacks_in_392 {
	margin:  20px;
}

#stacks_in_403 {
	font-size: 150%;
	font-weight: bold;
}

#stacks_in_395 {
	font-size: 150%;
	font-weight: bold;
}
#stacks_in_409>.s3_row {
	margin: 0 -10px;
}

#stacks_in_409>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_409>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_409>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_409>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_409>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  

#stacks_in_409 {
	margin:  20px;
}

#stacks_in_420 {
	font-size: 150%;
	font-weight: bold;
}

#stacks_in_412 {
	font-size: 150%;
	font-weight: bold;
}
#stacks_in_426>.s3_row {
	margin: 0 -10px;
}

#stacks_in_426>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_426>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_426>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_426>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_426>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  

#stacks_in_426 {
	margin:  20px;
}

#stacks_in_437 {
	font-size: 150%;
	font-weight: bold;
}

#stacks_in_429 {
	font-size: 150%;
	font-weight: bold;
}
#stacks_in_443>.s3_row {
	margin: 0 -10px;
}

#stacks_in_443>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_443>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_443>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_443>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_443>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  

#stacks_in_443 {
	margin:  20px;
}

#stacks_in_454 {
	font-size: 150%;
	font-weight: bold;
}

#stacks_in_446 {
	font-size: 150%;
	font-weight: bold;
}
#stacks_in_15>.s3_row {
	margin: 0 -10px;
}

#stacks_in_15>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_15>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_15>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_15>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_15>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  

#stacks_in_15 {
	margin:  20px;
}

#stacks_in_129 {
	font-size: 150%;
	font-weight: bold;
}

#stacks_in_121 {
	font-size: 150%;
	font-weight: bold;
}
#stacks_in_323>.s3_row {
	margin: 0 -10px;
}

#stacks_in_323>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_323>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_323>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_323>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_323>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  

#stacks_in_323 {
	margin:  20px;
}

#stacks_in_137 {
	font-size: 150%;
	font-weight: bold;
}

#stacks_in_334 {
	font-size: 150%;
	font-weight: bold;
}
#stacks_in_358>.s3_row {
	margin: 0 -10px;
}

#stacks_in_358>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_358>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_358>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_358>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_358>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  

#stacks_in_358 {
	margin:  20px;
}

#stacks_in_361 {
	font-size: 150%;
	font-weight: bold;
}

#stacks_in_162 {
	font-size: 300%;
}
#stacks_in_281>.s3_row {
	margin: 0 -10px;
}

#stacks_in_281>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_281>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_281>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_281>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_281>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  

#stacks_in_293 {
	font-size: 150%;
	font-weight: bold;
}

#stacks_in_344 {
	font-size: 150%;
	font-weight: bold;
}
#stacks_in_294>.s3_row {
	margin: 0 -10px;
}

#stacks_in_294>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_294>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_294>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_294>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_294>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  
