
#stacks_in_7 {
	font-size: 300%;
}
#stacks_in_9>.s3_row {
	margin: 0 -10px;
}

#stacks_in_9>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_9>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_9>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_9>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_9>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  

#stacks_in_9 {
	margin:  20px;
}

#stacks_in_477 {
	font-size: 150%;
	font-weight: bold;
}

#stacks_in_479 {
	font-size: 150%;
	font-weight: bold;
}
#stacks_in_457>.s3_row {
	margin: 0 -10px;
}

#stacks_in_457>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_457>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_457>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_457>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_457>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  

#stacks_in_457 {
	margin:  20px;
}

#stacks_in_468 {
	font-size: 150%;
	font-weight: bold;
}

#stacks_in_460 {
	font-size: 150%;
	font-weight: bold;
}
#stacks_in_569>.s3_row {
	margin: 0 -10px;
}

#stacks_in_569>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_569>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_569>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_569>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_569>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  

#stacks_in_569 {
	margin:  20px;
}

#stacks_in_580 {
	font-size: 150%;
	font-weight: bold;
}

#stacks_in_572 {
	font-size: 150%;
	font-weight: bold;
}
#stacks_in_501>.s3_row {
	margin: 0 -10px;
}

#stacks_in_501>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_501>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_501>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_501>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_501>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  

#stacks_in_501 {
	margin:  20px;
}

#stacks_in_512 {
	font-size: 150%;
	font-weight: bold;
}

#stacks_in_504 {
	font-size: 150%;
	font-weight: bold;
}
#stacks_in_518>.s3_row {
	margin: 0 -10px;
}

#stacks_in_518>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_518>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_518>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_518>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_518>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  

#stacks_in_518 {
	margin:  20px;
}

#stacks_in_529 {
	font-size: 150%;
	font-weight: bold;
}

#stacks_in_521 {
	font-size: 150%;
	font-weight: bold;
}
#stacks_in_535>.s3_row {
	margin: 0 -10px;
}

#stacks_in_535>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_535>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_535>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_535>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_535>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  

#stacks_in_535 {
	margin:  20px;
}

#stacks_in_546 {
	font-size: 150%;
	font-weight: bold;
}

#stacks_in_538 {
	font-size: 150%;
	font-weight: bold;
}
#stacks_in_552>.s3_row {
	margin: 0 -10px;
}

#stacks_in_552>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_552>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_552>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_552>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_552>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  

#stacks_in_552 {
	margin:  20px;
}

#stacks_in_563 {
	font-size: 150%;
	font-weight: bold;
}

#stacks_in_555 {
	font-size: 150%;
	font-weight: bold;
}
#stacks_in_15>.s3_row {
	margin: 0 -10px;
}

#stacks_in_15>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_15>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_15>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_15>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_15>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  

#stacks_in_15 {
	margin:  20px;
}

#stacks_in_105 {
	font-size: 150%;
	font-weight: bold;
}

#stacks_in_129 {
	font-size: 150%;
	font-weight: bold;
}
#stacks_in_16>.s3_row {
	margin: 0 -10px;
}

#stacks_in_16>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_16>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_16>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_16>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_16>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  

#stacks_in_16 {
	margin:  20px;
}

#stacks_in_121 {
	font-size: 150%;
	font-weight: bold;
}

#stacks_in_416 {
	font-size: 150%;
	font-weight: bold;
}
#stacks_in_366>.s3_row {
	margin: 0 -10px;
}

#stacks_in_366>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_366>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_366>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_366>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_366>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  

#stacks_in_366 {
	margin:  20px;
}

#stacks_in_316 {
	font-size: 150%;
	font-weight: bold;
}

#stacks_in_369 {
	font-size: 150%;
	font-weight: bold;
}

#stacks_in_162 {
	font-size: 300%;
}
#stacks_in_20>.s3_row {
	margin: 0 -10px;
}

#stacks_in_20>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_20>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_20>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_20>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_20>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  

#stacks_in_310 {
	font-size: 150%;
	font-weight: bold;
}

#stacks_in_408 {
	font-size: 150%;
	font-weight: bold;
}

#stacks_in_412 {
	font-size: 150%;
	font-weight: bold;
}

#stacks_in_456 {
	font-size: 150%;
	font-weight: bold;
}
#stacks_in_22>.s3_row {
	margin: 0 -10px;
}

#stacks_in_22>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_22>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_22>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_22>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_22>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  
#stacks_in_421>.s3_row {
	margin: 0 -10px;
}

#stacks_in_421>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_421>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_421>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_421>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_421>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  

#stacks_in_424 {
	font-size: 150%;
	font-weight: bold;
}
#stacks_in_436>.s3_row {
	margin: 0 -10px;
}

#stacks_in_436>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_436>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_436>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_436>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_436>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  
