
#stacks_in_7 {
	font-size: 300%;
}
#stacks_in_9>.s3_row {
	margin: 0 -10px;
}

#stacks_in_9>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_9>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_9>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_9>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_9>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  

#stacks_in_9 {
	margin:  20px;
}

#stacks_in_259 {
	font-size: 150%;
	font-weight: bold;
}

#stacks_in_388 {
	font-size: 150%;
	font-weight: bold;
}
#stacks_in_256>.s3_row {
	margin: 0 -10px;
}

#stacks_in_256>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_256>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_256>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_256>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_256>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  

#stacks_in_256 {
	margin:  20px;
}

#stacks_in_49 {
	font-size: 150%;
	font-weight: bold;
}

#stacks_in_65 {
	font-size: 150%;
	font-weight: bold;
}
#stacks_in_12>.s3_row {
	margin: 0 -10px;
}

#stacks_in_12>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_12>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_12>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_12>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_12>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  

#stacks_in_12 {
	margin:  20px;
}

#stacks_in_402 {
	font-size: 150%;
	font-weight: bold;
}

#stacks_in_57 {
	font-size: 150%;
	font-weight: bold;
}
#stacks_in_13>.s3_row {
	margin: 0 -10px;
}

#stacks_in_13>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_13>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_13>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_13>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_13>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  

#stacks_in_13 {
	margin:  20px;
}

#stacks_in_73 {
	font-size: 150%;
	font-weight: bold;
}

#stacks_in_97 {
	font-size: 150%;
	font-weight: bold;
}
#stacks_in_14>.s3_row {
	margin: 0 -10px;
}

#stacks_in_14>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_14>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_14>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_14>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_14>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  

#stacks_in_14 {
	margin:  20px;
}

#stacks_in_89 {
	font-size: 150%;
	font-weight: bold;
}

#stacks_in_113 {
	font-size: 150%;
	font-weight: bold;
}
#stacks_in_15>.s3_row {
	margin: 0 -10px;
}

#stacks_in_15>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_15>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_15>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_15>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_15>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  

#stacks_in_15 {
	margin:  20px;
}

#stacks_in_105 {
	font-size: 150%;
	font-weight: bold;
}

#stacks_in_129 {
	font-size: 150%;
	font-weight: bold;
}
#stacks_in_16>.s3_row {
	margin: 0 -10px;
}

#stacks_in_16>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_16>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_16>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_16>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_16>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  

#stacks_in_16 {
	margin:  20px;
}

#stacks_in_121 {
	font-size: 150%;
	font-weight: bold;
}

#stacks_in_416 {
	font-size: 150%;
	font-weight: bold;
}
#stacks_in_366>.s3_row {
	margin: 0 -10px;
}

#stacks_in_366>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_366>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_366>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_366>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_366>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  

#stacks_in_366 {
	margin:  20px;
}

#stacks_in_316 {
	font-size: 150%;
	font-weight: bold;
}

#stacks_in_369 {
	font-size: 150%;
	font-weight: bold;
}

#stacks_in_162 {
	font-size: 300%;
}
#stacks_in_20>.s3_row {
	margin: 0 -10px;
}

#stacks_in_20>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_20>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_20>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_20>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_20>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  

#stacks_in_310 {
	font-size: 150%;
	font-weight: bold;
}

#stacks_in_408 {
	font-size: 150%;
	font-weight: bold;
}

#stacks_in_412 {
	font-size: 150%;
	font-weight: bold;
}

#stacks_in_324 {
	font-size: 150%;
	font-weight: bold;
}
#stacks_in_22>.s3_row {
	margin: 0 -10px;
}

#stacks_in_22>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_22>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_22>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_22>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_22>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  
