
#stacks_in_3 {
	font-size: 300%;
}
#stacks_in_4>.s3_row {
	margin: 0 -10px;
}

#stacks_in_4>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_4>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_4>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_4>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_4>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  

#stacks_in_4 {
	margin:  20px;
}

#stacks_in_47 {
	font-size: 150%;
}

#stacks_in_7 {
	font-size: 150%;
	font-weight: bold;
}
#stacks_in_9>.s3_row {
	margin: 0 -10px;
}

#stacks_in_9>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_9>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_9>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_9>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_9>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  

#stacks_in_9 {
	margin:  20px;
}

#stacks_in_63 {
	font-size: 150%;
}

#stacks_in_55 {
	font-size: 150%;
	font-weight: bold;
}
#stacks_in_10>.s3_row {
	margin: 0 -10px;
}

#stacks_in_10>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_10>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_10>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_10>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_10>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  

#stacks_in_79 {
	font-size: 150%;
}

#stacks_in_71 {
	font-size: 150%;
}
#stacks_in_11>.s3_row {
	margin: 0 -10px;
}

#stacks_in_11>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_11>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_11>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_11>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_11>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  

#stacks_in_11 {
	margin:  20px;
}

#stacks_in_95 {
	font-size: 150%;
}

#stacks_in_87 {
	font-size: 150%;
}
#stacks_in_12>.s3_row {
	margin: 0 -10px;
}

#stacks_in_12>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_12>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_12>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_12>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_12>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  

#stacks_in_12 {
	margin:  20px;
}

#stacks_in_111 {
	font-size: 150%;
}

#stacks_in_103 {
	font-size: 150%;
}
#stacks_in_13>.s3_row {
	margin: 0 -10px;
}

#stacks_in_13>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_13>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_13>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_13>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_13>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  

#stacks_in_13 {
	margin:  20px;
}

#stacks_in_127 {
	font-size: 150%;
}

#stacks_in_119 {
	font-size: 150%;
}
#stacks_in_14>.s3_row {
	margin: 0 -10px;
}

#stacks_in_14>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_14>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_14>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_14>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_14>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  

#stacks_in_14 {
	margin:  20px;
}

#stacks_in_143 {
	font-size: 150%;
	font-weight: bold;
}

#stacks_in_135 {
	font-size: 150%;
	font-weight: bold;
}
#stacks_in_15>.s3_row {
	margin: 0 -10px;
}

#stacks_in_15>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_15>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_15>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_15>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_15>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  

#stacks_in_15 {
	margin:  20px;
}

#stacks_in_159 {
	font-size: 150%;
	font-weight: bold;
}

#stacks_in_151 {
	font-size: 150%;
	font-weight: bold;
}
#stacks_in_16>.s3_row {
	margin: 0 -10px;
}

#stacks_in_16>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_16>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_16>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_16>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_16>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  

#stacks_in_16 {
	margin:  20px;
}

#stacks_in_175 {
	font-size: 150%;
	font-weight: bold;
}

#stacks_in_167 {
	font-size: 150%;
	font-weight: bold;
}
#stacks_in_17>.s3_row {
	margin: 0 -10px;
}

#stacks_in_17>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_17>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_17>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_17>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_17>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  

#stacks_in_17 {
	margin:  20px;
}

#stacks_in_192 {
	font-size: 150%;
	font-weight: bold;
}

#stacks_in_183 {
	font-size: 150%;
	font-weight: bold;
}
#stacks_in_18>.s3_row {
	margin: 0 -10px;
}

#stacks_in_18>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_18>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_18>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_18>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_18>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  

#stacks_in_18 {
	margin:  20px;
}

#stacks_in_208 {
	font-size: 150%;
	font-weight: bold;
}

#stacks_in_200 {
	font-size: 150%;
}
#stacks_in_19>.s3_row {
	margin: 0 -10px;
}

#stacks_in_19>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_19>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_19>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_19>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_19>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  

#stacks_in_19 {
	margin:  20px;
}

#stacks_in_224 {
	font-size: 150%;
}

#stacks_in_216 {
	font-size: 150%;
}
#stacks_in_20>.s3_row {
	margin: 0 -10px;
}

#stacks_in_20>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_20>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_20>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_20>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_20>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  

#stacks_in_20 {
	margin:  20px;
}

#stacks_in_241 {
	font-size: 150%;
	font-weight: bold;
}

#stacks_in_232 {
	font-size: 150%;
	font-weight: bold;
}
#stacks_in_21>.s3_row {
	margin: 0 -10px;
}

#stacks_in_21>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_21>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_21>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_21>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_21>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  

#stacks_in_21 {
	margin:  20px;
}

#stacks_in_257 {
	font-size: 150%;
	font-weight: bold;
}

#stacks_in_249 {
	font-size: 150%;
	font-weight: bold;
}
#stacks_in_23>.s3_row {
	margin: 0 -10px;
}

#stacks_in_23>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_23>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_23>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_23>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_23>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  

#stacks_in_23 {
	margin:  20px;
}

#stacks_in_273 {
	font-size: 150%;
	font-weight: bold;
}

#stacks_in_265 {
	font-size: 150%;
}
#stacks_in_517>.s3_row {
	margin: 0 -10px;
}

#stacks_in_517>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_517>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_517>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_517>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_517>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  

#stacks_in_517 {
	margin:  20px;
}

#stacks_in_290 {
	font-size: 150%;
}

#stacks_in_537 {
	font-size: 150%;
	font-weight: bold;
}
#stacks_in_24>.s3_row {
	margin: 0 -10px;
}

#stacks_in_24>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_24>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_24>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_24>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_24>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  

#stacks_in_24 {
	margin:  20px;
}

#stacks_in_281 {
	font-size: 150%;
}

#stacks_in_296 {
	font-size: 300%;
}
#stacks_in_26>.s3_row {
	margin: 0 -10px;
}

#stacks_in_26>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_26>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_26>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_26>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_26>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  

#stacks_in_308 {
	font-size: 150%;
	font-weight: bold;
}

#stacks_in_305 {
	font-size: 150%;
	font-weight: bold;
}

#stacks_in_302 {
	font-size: 150%;
	font-weight: bold;
}

#stacks_in_299 {
	font-size: 150%;
	font-weight: bold;
}
#stacks_in_27>.s3_row {
	margin: 0 -10px;
}

#stacks_in_27>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_27>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_27>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_27>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_27>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  
#stacks_in_29>.s3_row {
	margin: 0 -10px;
}

#stacks_in_29>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_29>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_29>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_29>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_29>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  

#stacks_in_333 {
	font-size: 150%;
	font-weight: bold;
}

#stacks_in_330 {
	font-size: 150%;
	font-weight: bold;
}

#stacks_in_581 {
	font-size: 150%;
	font-weight: bold;
}

#stacks_in_327 {
	font-size: 150%;
	font-weight: bold;
}
#stacks_in_30>.s3_row {
	margin: 0 -10px;
}

#stacks_in_30>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_30>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_30>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_30>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_30>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  
#stacks_in_32>.s3_row {
	margin: 0 -10px;
}

#stacks_in_32>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_32>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_32>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_32>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_32>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  

#stacks_in_324 {
	font-size: 150%;
	font-weight: bold;
}

#stacks_in_358 {
	font-size: 150%;
	font-weight: bold;
}

#stacks_in_355 {
	font-size: 150%;
	font-weight: bold;
}

#stacks_in_551 {
	font-size: 150%;
	font-weight: bold;
}
#stacks_in_33>.s3_row {
	margin: 0 -10px;
}

#stacks_in_33>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_33>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_33>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_33>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_33>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  
#stacks_in_35>.s3_row {
	margin: 0 -10px;
}

#stacks_in_35>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_35>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_35>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_35>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_35>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  

#stacks_in_350 {
	padding:  3px;
}

#stacks_in_352 {
	font-size: 125%;
	font-weight: bold;
}

#stacks_in_349 {
	font-size: 150%;
	font-weight: bold;
}

#stacks_in_383 {
	font-size: 150%;
	font-weight: bold;
}

#stacks_in_380 {
	font-size: 150%;
	font-weight: bold;
}
#stacks_in_36>.s3_row {
	margin: 0 -10px;
}

#stacks_in_36>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_36>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_36>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_36>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_36>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  
#stacks_in_38>.s3_row {
	margin: 0 -10px;
}

#stacks_in_38>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_38>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_38>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_38>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_38>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  

#stacks_in_377 {
	font-size: 150%;
	font-weight: bold;
}

#stacks_in_549 {
	font-size: 150%;
	font-weight: bold;
}

#stacks_in_374 {
	font-size: 150%;
	font-weight: bold;
}

#stacks_in_402 {
	font-size: 150%;
	font-weight: bold;
}
#stacks_in_39>.s3_row {
	margin: 0 -10px;
}

#stacks_in_39>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_39>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_39>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_39>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_39>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  
#stacks_in_554>.s3_row {
	margin: 0 -10px;
}

#stacks_in_554>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_554>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_554>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_554>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_554>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  

#stacks_in_557 {
	font-size: 150%;
	font-weight: bold;
}
#stacks_in_567>.s3_row {
	margin: 0 -10px;
}

#stacks_in_567>.s3_row>.s3_column {
	padding: 0 10px;
}








  


@media only screen and (max-width: 770px) {




	#stacks_in_567>.s3_row  {
		margin: -10px -10px;
	}
	#stacks_in_567>.s3_row>.s3_column {
		padding: 10px 10px;
		width:50%;
	}



}



@media only screen and (max-width: 400px) {


	#stacks_in_567>.s3_row  {
		margin: -10px 0;
	}
	#stacks_in_567>.s3_row>.s3_column {
		padding: 10px 0;
		width:100%;
	}





}




  
